{% extends "adminLayout.html" %}
{% block title %}
Job Request
{% endblock %}
{% block content %}
<!-- Job Request List Start -->
<div class="container-xxl py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Job Request List</h1>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" id="filter-pending" data-bs-toggle="pill" href="#" onclick="filter('Pending')">
                        <h6 class="mt-n1 mb-0">Pending</h6>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 pb-3" id="filter-accepted" data-bs-toggle="pill" href="#" onclick="filter('Accepted')">
                        <h6 class="mt-n1 mb-0">Accepted</h6>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" id="filter-rejected" data-bs-toggle="pill" href="#" onclick="filter('Rejected')">
                        <h6 class="mt-n1 mb-0">Rejected</h6>
                    </a>
                </li>
            </ul>
            <!-- Pending -->
            <div class="tab-content">
                {% for jobs in jobData %} 
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div id="job-list">
                        <div class="job-item p-4 mb-4">
                            <div class="row g-4">
                                <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid border rounded" src="static/img/com-logo-1.jpg" alt="" style="width: 80px; height: 80px;">
                                    <div class="text-start ps-4">
                                        <h5 class="mb-3">{{ jobs[1] }}</h5>
                                        <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ jobs[4] }}</span>
                                        <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>{{ jobs[2] }}</span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                    <div class="d-flex mb-3">
                                        {% if jobs[3] == 'Pending' %}
                                        <form method="POST" action="{{ url_for('jobRequest', type='Pending') }}">
                                            <input type="hidden" name="job_id" value="{{ jobs[0] }}">
                                            <input type="hidden" name="action" value="Accepted">
                                            <button type="submit" class="btn btn-light btn-square me-3">
                                                <i class="fa fa-check-square" style="font-size:48px;color:green"></i>
                                            </button>
                                        </form>
                                        <form method="POST" action="{{ url_for('jobRequest', type='Pending') }}">
                                            <input type="hidden" name="job_id" value="{{ jobs[0] }}">
                                            <input type="hidden" name="action" value="Rejected">
                                            <button type="submit" class="btn btn-light btn-square me-3">
                                                <i class="fa fa-times-circle" style="font-size:48px;color:red"></i>
                                            </button>
                                        </form>
                                        <div class="d-flex mb-3">
                                            <a class="btn btn-primary" href="{{ url_for('jobRequestDetails', jobID=jobs[0]) }}">View Details</a>
                                        </div>
                                        {% else %}
                                        <div class="d-flex mb-3">
                                            <a class="btn btn-primary" href="{{ url_for('jobRequestDetails', jobID=jobs[0]) }}">View Details</a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>   
            
        </div>
    </div>
</div>
<!-- Company Request End -->

<script>
    function filter(status) {
        // Construct the URL with the 'type' parameter
        var url = `{{ url_for('jobRequest', type='') }}${status}`;
        window.location.href = url;
    }
</script>
{% endblock %}